#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  display: inline-grid;

}
.avatar {
  max-width: 50px;
}

#github-container {
  text-align: center;

  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;


}